html{
    scroll-behavior: smooth;
}

.row{
    margin:0;
    margin-top: 20px;
}

::selection {
    background: rgb(255, 154, 4);
}

/* formato de la flecha arriba */

#flechaArriba{
    height: 60px;
    bottom: 8%;
    right: 2%;
    position: fixed;
    z-index:+1000;
}

/* formato header */

header{
    background-image: linear-gradient(to top, #424242, #3b3b3b, #343434, #2d2d2d, #262626, #212121, #1d1d1d, #181818, #141414, #0e0e0e, #080808, #000000) !important;
    justify-content: center !important;
}

nav{
    background-image: linear-gradient(to top, #424242, #3b3b3b, #343434, #2d2d2d, #262626, #212121, #1d1d1d, #181818, #141414, #0e0e0e, #080808, #000000) !important;
    justify-content: space-between !important;
}

a img{
    height: 50px;
}

/* formato Section reconocimientos */

.reconocimientos{
    background-color:rgba(255,130,12,0.6);
    list-style-image: url(../media/ball-of-wool.png);
}

.reconocimientos h2{
    margin-left: 20px;
}

aside.sidebar-right img{
    margin-bottom: 20px;
}

/* formato del footer */

footer{
    text-align:center;
    background-image: linear-gradient(to bottom, #424242, #3b3b3b, #343434, #2d2d2d, #262626, #212121, #1d1d1d, #181818, #141414, #0e0e0e, #080808, #000000);
    border-top: 2px solid rgba(255, 228, 196,0.5);
    justify-content:center;
    gap:10px;
}

footer div.d-flex{
    flex-direction:column;
    justify-content:center;
}

footer div a{
    text-decoration: none !important;
    color: rgb(156, 156, 156);
}

footer ul{
    list-style-type: none;
    padding:0;
    margin-top: 15px !important;
}

@media only screen and (max-width:576px){
    #flechaArriba{
        display:none;
    }

    a img.social{
        height: 30px;
        margin-bottom: 5px;
    }

    h2{
        margin-top:10px;
    }

    ul{
        padding: 15px;
        padding-left: 30px;
    }

    li, p{
        font-size: 14px;
    }

}

@media only screen and (min-width:576px) and (max-width:992px){
    
    p{
        font-size: 14px !important;
    }

    a img.social{
        height: 30px;
        margin-bottom: 5px;
    }
}

@media only screen and (min-width:992px){
    nav{
        max-width: 500px !important;
    }

    #misobras{
        min-width: 88px!important;
    }

    .reconocimientos ul{
        padding: 15px;
        padding-left: 40px;
    }

    
    aside.sidebar-right img{
        width:80%;
        margin-left: 30px;
    }


    a img.social{
        height: 35px;
    }


    footer div.social{
        gap:10px;
    }
}

/* transformaciones y pseudoclases */

a img:hover{
    transform: scale(1.1);
}

nav li a:hover{
    color:rgb(255, 154, 4) !important;
}

nav li a:active{
    color:rgb(255, 75, 4) !important;
}

footer li a:hover{
    text-decoration: none !important;
    color:rgb(255, 154, 4);
}
